 /* HEADER */
.ras-header{
    background: linear-gradient(90deg,#082c6c,#0d4fb8);
    color:white;
    box-shadow:0 4px 10px rgba(0,0,0,0.2);
}

/* TOPO */
.ras-top{
    padding:20px 10px;
}

/* LOGOS */
.ras-logo{
    height:80px;
}

/* TITULO */
.ras-title{
    font-weight:700;
    letter-spacing:1px;
}

.ras-subtitle{
    margin:0;
    opacity:0.9;
}

/* MENU */
.ras-menu{
    background:#0a2c63;
    padding:10px 20px;
}

/* BOTÕES MENU */
.menu-btn{
    display:inline-block;
    padding:8px 20px;
    margin:5px;
    color:white;
    text-decoration:none;
    background:#123b84;
    border-radius:8px;
    transition:0.3s;
    font-weight:500;
}

.menu-btn:hover{
    background:#1f56b8;
}

/* BOTÃO SAIR */
.logout-btn{
    background:#1a2b4c;
    color:white;
    border:none;
    padding:8px 20px;
    border-radius:8px;
    transition:0.3s;
}

.logout-btn:hover{
    background:#dc3545;
}

/* MOBILE */
@media (max-width:768px){
.logout-form {
    margin-top: 10px;
    text-align: center;
}
.ras-logo{
    height:45px;
}

.ras-title{
    font-size:18px;
}

}