{% extends 'base.html' %}

{% block title %}Cadastrar Período {% endblock %}

{% load static %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<style>
    body{
    background-image: url('/static/img/GCM_03.jpeg');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;

    color: rgb(255, 255, 255);
    font-family: sans-serif;
    padding: 10px;
}
</style>
{% endblock %}

{% block content %}
<div class="container mt-3">

    <div class=" w-50 mx-auto border border-primary rounded p-2">

        <div class="mt-3">

            <h2 class="fw-bold text-center mt-3 mb-4"> Período </h2>
                {% if form.errors %}
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">

                        <ul class="mb-0">

                            {% for field in form %}
                                {% for error in field.errors %}
                                    <li><strong>{{ field.label }}:</strong> {{ error }}</li>
                                {% endfor %}
                            {% endfor %}

                            {% for error in form.non_field_errors %}
                                <li>{{ error }}</li>
                            {% endfor %}

                        </ul>

                        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>

                    </div>
                {% endif %}

            <form action="{% url 'create_periods' %}" method="post">
                {% csrf_token %}

                <div class="input-group mb-3">
                    <label class="input-group-text" for="name">Título</label>
                    <input type="text"
                           class="form-control"
                           id="name"
                           name="name"
                           value="{{form.name.value|default:''}}"
                           placeholder="Digite o Título"
                           required>
                </div>

                <div class="input-group mb-3">
                    <label class="input-group-text" for="date_start">Data Inicial</label>
                    <input type="date"
                           class="form-control"
                           id="date_start"
                           value="{{form.date_start.value|default:''}}"
                           name="date_start"
                           required>
                </div>

                <div class="input-group mb-3">
                    <label class="input-group-text" for="date_end">Data Final</label>
                    <input type="date"
                           class="form-control"
                           id="date_end"
                           value="{{form.date_end.value|default:''}}"
                           name="date_end"
                           required>
                </div>

                <div class="input-group mb-3">
                    <label class="input-group-text" for="description">Descrição</label>
                    <input type="text"
                           class="form-control"
                           id="description"
                           name="description"
                           value="{{form.description.value|default:''}}"
                           placeholder="Digite uma descrição"
                           required>
                </div>

                <div class="d-grid mb-3">
                    <button type="submit" class="btn btn-light text-dark fw-semibold">
                        Cadastrar
                    </button>
                </div>

            </form>

        </div>

    </div>

</div>

{% endblock %}